*{
    box-sizing: border-box;
    margin: 0;
    background: #000;
}

.relative {
    position: relative;
    margin: 80px;
    width: 250px;
    height: 250px;
    background-color: #a52323;
}

.absolute {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #fff;
    z-index: 300;
}

.absolute1 {
    top: 50px;
    left: 10px;
    background-color: #139d23;
    z-index: 100;
}

.absolute2 {
    top: 20px;
    left: 30px;
    background-color: #dada1c;
    z-index: 150;
}